@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.lineaborde_a {
    border: 1px solid red;
}

.lineaborde_b {
    border: 1px solid blue;
}

.lineaborde_C {
    border: 1px solid olivedrab;
}

.lineaborde_d {
    border: 1px solid rgb(212, 0, 255);
}



* {
    font-family: "Exo 2", "Gill Sans MT", sans-serif;
    box-sizing: border-box;
}

/* ------------------------- CONTAINER --------------------------------------------- */
/*page layout*/

.flex-container{
    display: flex;
    /* no genera otra fila (default) */
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

aside {
    min-height: 40vh;
    align-self: flex-start;
}

.flex-1 {
    background-color: #fff;
    flex: 1 1 200px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.36),
                0 2px 10px 0 rgba(0,0,0,.42);

    position: sticky;
    top: 0;
    padding: 10px;
}

/* -------------------- lado left  ------------*/

.flex-2 {
    /* background-color: red; */
    flex: 1 1 200px;
}

.flex-2 .first {
    min-height: 40vh;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.36),
                0 2px 10px 0 rgba(0,0,0,.42);
    padding: 10px; 
}

.m-b {
    margin-bottom: 20px;
}


/* ------- responsiveness of page layout --------------- */
/*    <= 875px */
@media screen and (max-width:875px) {
    /* de 2 columnas se reduce a 1 columna */
    .flex-container {
        flex-wrap: wrap;
    }
    /* lado izquierdo */
    /* se le quita position stiky y el top */
    .flex-1 {
        position: unset;
        top: unset;
    }
}

/*    <= 650px */
@media screen and (max-width:650px) {
    .flex-container {
        display: grid;
        /* se ancha en una columna */
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        justify-content: unset;
    }
}

/*    <= 450px */
@media screen and (max-width:450px) {
    body {
        margin: 0;
    }
}


